 .u-section-1 {
  background-image: url("images/bcad50a2aee88c902e5c515f3e31ec1aec4955a359c33af8dda236e4964b5cb30c48a68ec68ff307cef98e28cb93d99783a14497102589d08f331e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 316px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 33px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 154px;
}

.u-section-2 .u-text-1 {
  margin: 29px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 49px;
  width: 49px;
  background-image: none;
  margin: 65px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 34px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("images/72b3d39f3e264ade810d61545f973900274e06ac64ea2dae67b01fc2cfef67abf2e678b42aff4e472cdd27b9a7d410f162493aa87dfebed251ae67_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-group-1 {
  width: 445px;
  min-height: 499px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("images/a3c760afe44b2d4523ad93ad4dc3b44e3f70a6daa2b79cf25085fc4d56d7082e453983d6b865bb837241e52d3c3f91be246f2ccc3b6ce863e0be29_1280.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-group-1 {
  min-height: 459px;
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 8px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 11px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 104px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 391px;
  }
} .u-section-5 {
  min-height: 318px;
}

.u-section-5 .u-sheet-1 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 99px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 655px;
  background-image: url("images/58a99f440155a64918809e557aea5bd807a604615af7439f69272c0a861949715bdd6b0eac2194faa0d0cf7fedf64ef7ab9493d88dd60d2c8b9366_1280.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-group-1 {
  width: 445px;
  min-height: 460px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 391px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 318px;
}

.u-section-6 .u-sheet-1 {
  min-height: 1185px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 655px;
  background-image: url("images/5f6cc116163322fe3e767f4b96c413b5b236348c72375d3035ba73b684e2a709ba26831f805b875405a554dbfffe89439e4231a3de2ab984ce8e19_1280.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-group-1 {
  min-height: 439px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 64px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-group-2 {
  min-height: 460px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#f1b5b8, #eafdfc);
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 49px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 36px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 36px auto 0;
  padding: 11px 50px 11px 49px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0;
}

.u-section-6 .u-image-2 {
  min-height: 460px;
  background-image: url("images/2bb41796e9c3222bf6eb92b1dd71b3217c5a9beed674722f1c8f3698b3b7960d9a44335272ff6e231b1f984f9d05f53414bfc5a2720f1dcd1413bf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-6 .u-image-1 {
    min-height: 540px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-6 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 379px;
  }

  .u-section-6 .u-image-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2097px;
  }

  .u-section-6 .u-image-1 {
    min-height: 621px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 653px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-6 .u-image-1 {
    min-height: 391px;
  }

  .u-section-6 .u-image-2 {
    min-height: 411px;
  }
}