 .u-section-1 {
  background-image: url("images/bcad50a2aee88c902e5c515f3e31ec1aec4955a359c33af8dda236e4964b5cb30c48a68ec68ff307cef98e28cb93d99783a14497102589d08f331e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 341px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 46px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 107px;
}

.u-section-2 .u-text-1 {
  margin: 22px 41px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 416px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 380px;
  background-image: linear-gradient(#f1b5b8, white);
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -381px;
  margin-bottom: -2px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 13px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 25px 18px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 416px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 4px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 393px;
  width: 544px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 17px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    width: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 332px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 414px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-image-1 {
  min-height: 413px;
  background-image: url("images/83666d45229364134aba41e077442fc734a4f636b85a7f9b06327d40cb842759c7e3ee3182ee6f5d46b750974363bd9bf09069338b863aec19c575_1280.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-4 .u-container-layout-2 {
  padding: 5px 22px 1px;
}

.u-section-4 .u-group-1 {
  width: 406px;
  min-height: 406px;
  background-image: linear-gradient(#fbeced, #eafdfc);
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 38px 19px 0;
}

.u-section-4 .u-text-2 {
  margin: 28px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 341px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-image-1 {
    min-height: 261px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-4 .u-group-1 {
    width: 317px;
    min-height: 316px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-image-1 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-image-1 {
    min-height: 247px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 486px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#f1b5b8, white);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 12px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 24px 54px 0;
}

.u-section-5 .u-text-2 {
  margin: 36px 36px 0 48px;
}

.u-section-5 .u-image-1 {
  min-height: 400px;
  background-image: url("images/b19f23fab02d155aa8f40803387702d9059994357d16c1ce65e7cab6bf42b1391253019d28bed4140ba5709b0fb2e4ed9010ac36d249847fb5c207_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-image-1 {
    min-height: 239px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 483px;
  background-image: linear-gradient(white, #f1b5b8);
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 69px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 50px 41px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 483px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 15px;
}

.u-section-6 .u-group-1 {
  width: 293px;
  min-height: 293px;
  background-image: linear-gradient(#41807c, #f1b5b8);
  margin: 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 0 7px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 69px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 427px;
  }
}